<html>
 <head>
  <title>Verjaardagskalender</title>
  <style>
   table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 3px;
   }
   tr:nth-child(even) {
    background-color: #f2f2f2
   }
  </style>
 </head>
 <body>
  <h1>Verjaardagskalender</h1>
  {% if user %}
   {% if valid %}
    <p>Token is geldig</p>
   {% else %}
    <p>Token is niet meer geldig</p>
   {% endif %}
   <p>Klik <a href="/verjaardagskalender/logout">hier</a> om uit te loggen</p>
  {% else %}
   <p>Op deze pagina wordt een verjaardagskalender getoond wanneer je ingelogd bent met een google-account.</p>
   <p>De datums die in de contactgegevens staan worden gebruikt op de kalender.</p>
   <p>Bij een contact kunnen meerdere datums staan. Zonder label wordt het weergegeven als verjaardag. Wanneer er wel een label is, wordt dat label getoond.</p>
   <p>Het label "Jubileum" in het Nederlands wordt weergegeven bij het opslaan gewijzigd in "Anniversary" en zal ook zo getoond worden.</p>
   <p>Om de kalender te zien moet je <a href="/verjaardagskalender/login">inloggen</a>.</p>
  {% endif %}
 </body>
</html>
