<html>
 <head>
  <title>Verjaardagskalender</title>
  <style>
   table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 3px;
   }
  </style>
 </head>
 <body>
  <p>
    {% if data %}
      {% for monthnr in range(1, 13) %}
        <table>
        <tr><th colspan=4>{{monthnr}}</th></tr>
        {% for month in data %}
          {% if monthnr == month %}
            {% for kolom in range(1, 5) %}
              <tr>
              {% for daynr in range(1, 9) %}
                <td>{{ daynr + kolom * 8}}
                {% for day in data[month] %}
                  {% if daynr == day %}
                    {% for t in data[month][day] %}
                      {{ t }} {{ data[month][day][t] }}<br/>
                    {% endfor %}
                  {% endif %}
                {% endfor %}
                </td>
              {% endfor %}
              </tr>
            {% endfor %}
          {% endif %}
        {% endfor %}
      {% endfor %}
      </table>
    {% else %}
      <p>No data</p>
    {% endif %}
  </p>
 </body>
</html>

